header {
  background-color: rgb(30, 30, 30);
  padding: 30px;
  margin-top: 0px;
  display: flex;
  justify-content: center;
  opacity: 0.9;
}

.Logo {
  height: 70px;
  width: 80px;
}


* {
  font-family: 'Brygada 1918', serif;
  margin: 0;
  padding: 0;
}



body {
  background-color: rgb(200, 215, 254);
}



/* Input y Botones */
input {
  height: 20px;
  width: 200px;
}

.btn-calculo {
  display: flex;
  justify-content: space-between;
  height: 40px;
  width: 100px;
}

.btn-enviar {
  height: 30px;
  width: 70px;
  display: grid;
  place-items: center;
  margin: auto;
  margin-bottom: 40px;
}

/* Fin Input y Botones */



/* Posicionamiento de los div y del section */

section {
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  justify-content: center;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

div {
  display: flex;
  justify-content: center;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100px;
  width: 200px;
}

nav {
  display: flex;
  justify-content: space-evenly;

}


/* FONTS */
h2 {
  font-family: 'Times New Roman', Times, serif;
  font-weight: lighter;
}

/* FIN FONTS */